<header>
    <h1>search memory card</h1>
    <!-- Image vers le profil (positionnée en haut à droite) -->
    <div class="profile-section">
        <a href="/profile">
          <img src="assets/profile-picture.png" alt="Profile" class="profile-image" />
        </a>
      </div>
  </header>
  <router-outlet></router-outlet>
  <div class="home-container">
    <!-- Filtres -->
    <div class="filters">
      <input type="text" placeholder="Filtre 1" class="filter-input" />
      <input type="text" placeholder="Filtre 2" class="filter-input" />
    </div>

    <!-- Liste des dossiers -->
    <div class="folder-list">
      <div class="folder-item" *ngFor="let folder of folders" (click)="setVisibility(!getVisibility())">
        <div class="folder-info">
          <h3 class="folder-name">{{ folder.name }}</h3>
          <div class="tags">
            <span class="tag" *ngFor="let tag of folder.tags">{{ tag }}</span>
          </div>
        </div>
  
        <!-- Boutons "J'aime" et supprimer -->
        <div class="actions">
          <button class="like-button" (click)="likeFolder(folder)">
            <i class="fas fa-heart"></i>
          </button>
          <button class="delete-button" (click)="deleteFolder(folder)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>
    </div>
    <app-popup-folder> </app-popup-folder>
  </div>
  