<router-outlet></router-outlet>

<div class="home-container">
  <!-- Afficher Connexion et Enregistrement si non connecté, ou Profil et Déconnexion si connecté -->
  <div class="auth-links" *ngIf="!isLoggedIn(); else loggedInTemplate">
    <a href="/login" class="auth-link">Connexion</a>
    <a href="/register" class="auth-link">Enregistrement</a>
  </div>

  <!-- Template pour l'utilisateur connecté -->
  <ng-template #loggedInTemplate>
    <div class="auth-links">
      <a routerLink="/user-edit" class="auth-link">
        <i class="fas fa-user"></i> Profil
      </a>
      <a (click)="logout()" class="auth-link">Déconnexion</a>
    </div>
  </ng-template>

  <!-- Rest of your filters and folders -->
  <aside class="filters-added">
    <h3>Filtres ajoutés</h3>
    <ul>
      <li *ngFor="let filter of appliedFilters; let i = index">
        {{ filter }}
        <button class="delete-filter-button" (click)="removeFilter(i)">
          <i class="fas fa-trash-alt"></i>
        </button>
      </li>
    </ul>
  </aside>
  
  <div class="filters-section">
    <div class="filters">
      <input type="text" placeholder="Rechercher..." class="filter-input" [(ngModel)]="filterValue" />

      <select class="filter-select" [(ngModel)]="selectedFilterType">
        <option value="Tag">Tag</option>
        <option value="Folder Name">Folder</option>
      </select>

      <button class="add-filter-button" (click)="addFilter()">Add Filter</button>
    </div>

    <div class="folder-list">
      <div class="folder-item" *ngFor="let folder of folders" (click)="setVisibility(!getVisibility())">
        <div class="folder-info">
          <h3 class="folder-name">{{ folder.name }}</h3>
          <div class="tags">
            <span class="tag" *ngFor="let tag of folder.tags">{{ tag }}</span>
          </div>
        </div>

        <div class="actions">
          <button class="like-button" (click)="likeFolder(folder)">
            <i class="fas fa-heart" [style.color]="getHeartColor(folder.isFavorite)"></i>
          </button>
          <button class="delete-button" (click)="deleteFolder(folder)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <app-popup-folder></app-popup-folder>
</div>
