.input {
    width: 10rem;
    height: 2rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.contentTag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contentTag button {
    width: 2rem;
    height: 2rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1.5rem;
}

.error {
    color: red;
    font-size: 0.8rem;
    margin-bottom: -30px;
    font-family: Arial, Helvetica, sans-serif;
}

.allTags {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}