<form [formGroup]="folderForm" (ngSubmit)="onSubmit()">
  <div>
    <input id="title" class="input" formControlName="title" placeholder="Titre">
    <div *ngIf="folderForm.get('title')?.invalid && folderForm.get('title')?.touched" class="error">
      Title is required.
    </div>
  </div>

  <div class="contentTag">
    <input id="tagInput" class="input" #tagInput placeholder="Tags">
    <button type="button" (click)="addTag(tagInput)">+</button>
  </div>

  <div class="allTag">
    <ul>
      <li *ngFor="let tag of tags; let i = index">
        {{ tag }} <button type="button" (click)="removeTag(i)">Remove</button>
      </li>
    </ul>
  </div>

  <button type="submit" [disabled]="folderForm.invalid">Submit</button>
</form>