.register-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(132deg, #8d8ccd,#4240b5, #3b38be );
}

.register {
    width: auto;
    height: auto;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow: hidden;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.247);
    border: 1px solid rgba(255, 255, 255, 0.3);
    align-items: center;
    justify-content: center;
}

.register h2 {
    margin-bottom: -30px;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.register form {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 30px;
    font-size: 2rem;
}

.register p {
    margin-top: 30px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.part1 .part2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}



.form-group input {
    padding: 10px;
    margin-top: 10px;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.error {
    color: red;
    font-size: 0.8rem;
    margin-bottom: -30px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    position: relative;
    transform: translate(50%, 0%);
    padding: 10px 20px;
    margin-top: 40px;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    background: rgba(255, 255, 255, 0.70);;
    color: #151515;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.btn:hover {
    background: #4240b5;
    transform: translate(50%, -15%);
    transition: 0.3s;
}
