<router-outlet></router-outlet>
<div class="containerAddCard">
  <div class="container">
    <button (click)="toggleAddFolder()" class="form-button">
      {{ showAddFolder ? "Hide Add Folder" : "Show Add Folder" }}
    </button>

    <div *ngIf="showAddFolder">
      <app-add-folder (folderAdded)="onFolderAdded()"></app-add-folder>
    </div>

    <form [formGroup]="cardForm" (ngSubmit)="onSubmit()" class="form-container">
      <div class="form-group">
        <select id="folderId" formControlName="folderId" class="form-select">
          <option value="" disabled selected>Choose a folder</option>
          <option *ngFor="let folder of folders" [value]="folder.id">
            {{ folder.title }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <input
          id="question"
          formControlName="question"
          type="text"
          class="form-input"
          placeholder="Question"
        />
      </div>
      <div class="form-group">
        <input
          id="response"
          formControlName="response"
          type="text"
          class="form-input"
          placeholder="Response"
        />
      </div>
      <button type="submit" class="form-button">Submit</button>
      <div *ngIf="errorMessage" class="form-error">{{ errorMessage }}</div>
    </form>
  </div>
</div>
